# Copy this file to .env and replace the credentials with 
# your own before running run.py.

# Watson Assistant
WORKSPACE_ID=45aa9e19-77d0-4341-a03e-d4814699c68a
ASSISTANT_URL=https://gateway.watsonplatform.net/assistant/api
## Un-comment and use either username+password or IAM apikey.
ASSISTANT_USERNAME=44dcc0e4-892c-4c0d-a57d-5ce8916920a5
ASSISTANT_PASSWORD=OpCYgnYxTjyf
# ASSISTANT_IAM_APIKEY=<add_assistant_apikey>

# Cloudant DB
CLOUDANT_USERNAME=b847b0c8-8098-431b-b954-2ee16eace66a-bluemix
CLOUDANT_PASSWORD=2d122e8da0da538c64eaa20829f3ded2216884eb964dfed2878ef15fecedee05
CLOUDANT_DB_NAME=watson-online-store
CLOUDANT_URL=https://b847b0c8-8098-431b-b954-2ee16eace66a-bluemix:2d122e8da0da538c64eaa20829f3ded2216884eb964dfed2878ef15fecedee05@b847b0c8-8098-431b-b954-2ee16eace66a-bluemix.cloudant.com

# Watson Discovery
DISCOVERY_URL=https://gateway.watsonplatform.net/discovery/api
DISCOVERY_ENVIRONMENT_ID=e4b7c4b2-6388-4337-a60b-a6329230840a
DISCOVERY_COLLECTION_ID=b43f9415-f8f6-4e42-9eee-3011177f857e
## Un-comment and use either username+password or IAM apikey.
DISCOVERY_USERNAME=b37f89c8-f1bd-4d1f-bda0-9b5881085f2b
DISCOVERY_PASSWORD=IQhecHInTZPk
# DISCOVERY_IAM_APIKEY=<add_discovery_apikey>



# Slack
SLACK_BOT_TOKEN=xoxb-434681964305-445082462023-0LuOsyphLhyWGw4wDIdpppNb
SLACK_BOT_USER=styleme-jazz